<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hello.html</title>
	<script src="js/angular.min.js"></script>
</head>

<!--
  ng-app='모듈명'  ==>  angular.module('모듈명', []); 의 module 을 해당 엘리먼트에 적용시킨다.
                      (모듈을 생성하지 않고 angular의 기능을 이용하려면 ng-app 만 입력하도록 한다.
  ng-model='변수명'   ==>  input태그의 value안의 값을 해당 변수에 담는다. ng-model 속성을 사용하면 value 속성을 사용할 수 없다.
                         checkbox 에 true를 넣으면 선택되는걸로 보아서, 꼭 value는 아닌것같고, input태그의 "상태" 라고 생각하는게 좋을지도 모르겠다.
  ng-init='변수명=값; 변수명=값;'  ==>  현재 html페이지 전체에서 사용할 변수를 선언한다. (선언하는 순서는 관계없다. 가장 늦게 로드되기 때문??)
                                  그러나 꼭 ng-init 으로 선언하지 않더라도, 다른 디렉티브에서도 선언과 초기화가 가능한 것 같다.
  ng-repeat='변수명 in [배열]'  ==>  자바스크립트의 for in 반복문처럼 배열에서 각 인덱스별로 변수에 담고, 해당 엘리먼트를 포함한채로 반복한다.
  ng-click='로직'  ==>  해당 엘리먼트가 클릭되었을 때 실행할 로직을 넣는다. 자바스크립트의 onclick 이벤트와 과 동일하다.
  {{변수}}  ==>  도큐먼트에 해당 변수를 ${ EL } 표현식처럼 뿌려준다. 내부적으로 class='ng-binding' 이 추가된다.
-->

<body ng-app>
	<p>{{msg}}</p>
	<input ng-model="msg" type="text" placeholder="메세지 입력..." />
	<p>{{msg}}</p>
	<p>{{10+10}}</p>
	<p>{{"Hello"+"AngularJs"}}</p>
	<ul>
		<li ng-repeat="num in [10,20,30,40,50]">{{num}}</li>
	</ul>
	<button ng-init="count=0" ng-click="count=count+1">눌러보셈</button>
	<p>버튼을 {{count}} 번 눌렀네?</p>
</body>
</html>