<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ServiceTest.html</title>
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<script src="js/angular.min.js"></script>
	<script>
	var myApp=angular.module("myApp",[]);

	//Starbucks 라는 이름의 서비스 만들기 
	myApp.service("Starbucks", function(){
		this.getCoffee=function(){
			return "아메리카노";
		};
		this.getBread=function(){
			return "샌드위치";
		};
	});
	//one 이라는 controller 에서 Starbucks 라는 서비스가 
	//필요 하다라면? 
	myApp.controller("one",["$scope","Starbucks",function($scope,star){
		$scope.click1=function(){
			var c = star.getCoffee();
			alert(c);
		};
		$scope.click2=function(){
			var b = star.getBread();
			alert(b);
		};
	}]);
	</script>
</head>
<body ng-controller="one">
	<button ng-click="click1()">커피</button>
	<button ng-click="click2()">빵</button>
</body>
</html>