<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>HttpTest2.html</title>
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<script src="js/angular.min.js"></script>
	<script>
	var myApp=angular.module("myApp",[]);
	myApp.controller("one",["$scope","$http",function($scope,$http){
		$scope.names=["하나","두울"];
		$scope.getList=function(){
			$http({
				url:"http://localhost:3000/getList",
				method:"get"
			})
			.success(function(data){
				$scope.names=data;
			});
		};
	}]);
	</script>
</head>
<body ng-controller="one">
<h3>$http 서비스 테스트2</h3>
<button ng-click="getList()">목록 받아오기</button>	
<ul>
	<li ng-repeat="tmp in names">{{tmp}}</li>
</ul>
</body>
</html>